# Reference tables: `county` and `district`
---
- Standardize key to reference with other tables in the future
- Store additional info for each county and district
- Use **Google Maps V3 API** to collect geographic points for the center of each county and district

In [5]:
%run 1-workspace_setup.ipynb

## School Districts
- This will be difficult. There is no standard naming convention for districts, and many datasets have typos.
- Also, geo borders and address info are found in two different datasets (which, of course, use different naming conventions for districts)
- The `dist_grad_rate` dataset is the only one we've found which provides a county for each school district

In [6]:
head(
    read_raw('districts'),
    # read_raw('dist_grad_rate')
)

DatabaseError: Execution failed on sql 'SELECT * FROM districts ': no such table: districts

In [5]:
dist_info = read_raw("""
    abbrev_nam AS district,
    the_geom AS geo_border,
    gid,
    lgid,
    id,
    mail_addre AS street,
    mail_city AS city,
    mail_state AS state,
    mail_zip AS zip,
    url
""",
FROM='districts'
)
head(dist_info)

10 cols x 178 rows

,district,geo_border,gid,lgid,id,street,city,state,zip,url
0,Buena Vista R-31 School District,MULTIPOLYGON (((-106.59904239399998 39.0362792...,443,8900,1793,PO Box 2027,Buena Vista,CO,81211,www.bvschools.org
1,Burlington RE-6J School District,MULTIPOLYGON (((-102.43672348799998 39.5852515...,444,64929,217,PO Box 369,Burlington,CO,80807,www.burlingtonk12.org
2,Byers 32J School District,MULTIPOLYGON (((-104.28505092499995 39.5649584...,445,64908,857,444 East Front Street,Byers,CO,80103,byers32j.k12.co.us

In [6]:
dist_county = read_raw("""
    `Organization Name` AS district,
    `Organization Code` AS code,
    `County Name` AS in_county
""",
FROM="dist_grad_rate",
WHERE="district != 'STATE TOTAL'"
)
head(dist_county)

3 cols x 183 rows

                     district  code in_county
0                  MAPLETON 1    10     ADAMS
1  ADAMS 12 FIVE STAR SCHOOLS    20     ADAMS
2             ADAMS COUNTY 14    30     ADAMS

## Standardize district naming conventions
---

In [7]:
# standardize_district_name and join_conflicts defined in workspace setup
dist_info.district = dist_info.district.apply(standardize_district_name)
dist_county.district = dist_county.district.apply(standardize_district_name)

# See keys that aren't shared
dist_diff = join_conflicts(dist_info, dist_county, 'district')
dist_diff

      0                       1
0  None         CENTENNIALBOCES
1  None  CHARTERSCHOOLINSTITUTE
2  None      EXPEDITIONARYBOCES
3  None           MOUNTAINBOCES
4  None            SANJUANBOCES

#### Some districts have invalid counties listed. Fix it

In [8]:
dist_to_county_map = {
    # Where district == key, set county to val
    'CUSTERCOUNTY 1': 'CUSTER',
    'CHARTERSCHOOLINSTITUTE': 'DENVER',
    'MOUNTAINBOCES': 'CHAFFEE',
    'CENTENNIALBOCES': 'WELD',
    'SANJUANBOCES': 'LA PLATA',
    'EXPEDITIONARYBOCES': 'DENVER',
}
for dist_name, new_county_name in dist_to_county_map.items():
    dist_county.loc[dist_county.district == dist_name, 'in_county'] = new_county_name

### Merge district tables

In [9]:
district = dist_county.merge(dist_info, on='district', how='left')
head(district, with_tail=True)

12 cols x 183 rows

,district,code,in_county,geo_border,gid,lgid,id,street,city,state,zip,url
0,MAPLETON 1,10,ADAMS,MULTIPOLYGON (((-105.01581612299998 39.8144774...,593.0,1900.0,2210.0,5910 East 80th Avenue,Denver,CO,80229,www.mapleton.us/
1,ADAMSFIVESTAR 12,20,ADAMS,MULTIPOLYGON (((-105.05310614499996 39.9302934...,648.0,1901.0,2211.0,1500 E 128th Avenue,Thornton,CO,80241,www.adams12.org
181,SANJUANBOCES,9050,LA PLATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,EXPEDITIONARYBOCES,9130,DENVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## County

In [10]:
county = read_raw("""
    COUNTY as county,
    the_geom as geo_border
""",
FROM="counties"
)
head(county)

2 cols x 64 rows

     county                                         geo_border
0     ADAMS  MULTIPOLYGON (((-103.70574149517748 39.9999110...
1   ALAMOSA  MULTIPOLYGON (((-105.59917426201822 37.7521648...
2  ARAPAHOE  MULTIPOLYGON (((-103.70653410023402 39.7398580...

# Geocoding - Google Maps V3 API

In [11]:
from geopy.geocoders import GoogleV3
import geopandas as gp
api_kwargs = dict(provider = 'google', api_key = 'NVmnFlQnc_MiOFcCoz7dwIFmVgq5f1zncXCdwJp')

#### County

In [12]:
try:
    county['geo_point'] = (
        gp.tools
        .geocode(county.county.str.capitalize() + " County, Colorado", **api_kwargs)
        ['geometry']
        .astype(str)
    )
except Exception:
    county['geo_point'] = np.nan
head(county)

3 cols x 64 rows

,county,geo_border,geo_point
0,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,GEOMETRYCOLLECTION EMPTY
1,ALAMOSA,MULTIPOLYGON (((-105.59917426201822 37.7521648...,GEOMETRYCOLLECTION EMPTY
2,ARAPAHOE,MULTIPOLYGON (((-103.70653410023402 39.7398580...,GEOMETRYCOLLECTION EMPTY

In [13]:
write_main(county, 'county')

64

#### School District

Add full address column for geocoder to use

In [14]:
district.insert(0, 'address', (
    district.loc[
        ~ district.street.isna(),
        ['street', 'city', 'state', 'zip']
    ]
    .agg(', '.join, axis=1)
))

In [15]:
head(district, with_tail=True)

13 cols x 183 rows

,address,district,code,in_county,geo_border,gid,lgid,id,street,city,state,zip,url
0,"5910 East 80th Avenue, Denver, CO, 80229",MAPLETON 1,10,ADAMS,MULTIPOLYGON (((-105.01581612299998 39.8144774...,593.0,1900.0,2210.0,5910 East 80th Avenue,Denver,CO,80229,www.mapleton.us/
1,"1500 E 128th Avenue, Thornton, CO, 80241",ADAMSFIVESTAR 12,20,ADAMS,MULTIPOLYGON (((-105.05310614499996 39.9302934...,648.0,1901.0,2211.0,1500 E 128th Avenue,Thornton,CO,80241,www.adams12.org
181,NaN,SANJUANBOCES,9050,LA PLATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,EXPEDITIONARYBOCES,9130,DENVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
district['geo_point'] = np.nan
try:
    district.loc[ ~ district.address.isna(), 'geo_point'] = (
        gp.tools
        .geocode(district.address, **api_kwargs)
        ['geometry']
        .astype(str)
    )
except Exception:
    district['geo_point'] = np.nan

district = (district
    .drop_cols('address')
    .move_col('geo_point', 4)
)
head(district, with_tail=True)

13 cols x 183 rows

,district,code,in_county,geo_border,geo_point,gid,lgid,id,street,city,state,zip,url
0,MAPLETON 1,10,ADAMS,MULTIPOLYGON (((-105.01581612299998 39.8144774...,GEOMETRYCOLLECTION EMPTY,593.0,1900.0,2210.0,5910 East 80th Avenue,Denver,CO,80229,www.mapleton.us/
1,ADAMSFIVESTAR 12,20,ADAMS,MULTIPOLYGON (((-105.05310614499996 39.9302934...,GEOMETRYCOLLECTION EMPTY,648.0,1901.0,2211.0,1500 E 128th Avenue,Thornton,CO,80241,www.adams12.org
181,SANJUANBOCES,9050,LA PLATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,EXPEDITIONARYBOCES,9130,DENVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
write_main(district, 'district')

183